@font-face {
    font-family: 'Monserrat', sans-serif;
    src: url(/Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

.topnav {
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    width: 100%;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #0082e6;
    text-decoration: none;
}

header {
    background-color: #0B0F0C;
    background-image: url('img/foto1.png');
    background-repeat: no-repeat;    
    background-size: cover;
    background-attachment: fixed;
    height: 750px;
}

body {
    height: 3000px;
    background-color: #0B0F0C;
}

.container {
    background-color: #000000; 
    opacity: 60%;
    border-radius: 55px;
    width: 1000px;
    height: 40px;
    margin-top: -350px;
    margin-left: 80px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 200px;
}

.slade2 {
    position: relative;
    margin-top: 300px;
    display: inline-block;
}


.inner-container {
    margin-left: 80px;
}

.okno {
    margin-left: 80px;
    margin-top: -100px;
    border-radius: 80px;
    border: 2px white solid;
    width: 500px; 
    height: 70px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: italic;
}

.link {
    float: inline-start;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 155px;
    text-decoration: none;
    font-size: 17px;
}

.fotki-container {
    position: absolute;
    margin-top: -430px;
    margin-left: 1020px;
    width: 100px;
}

.text {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Montserrat';
    font-style: italic;
}

.text2 {
    width: 1102px; 
    height: 395px; 
    color: #ffffff;
    font-size: 30px; 
    font-style: italic; 
    font-family: 'Montserrat';
}

.text3 {
    color: #ffffff;
    font-size: 30px; 
    font-style: italic; 
    font-family: 'Montserrat';
    text-align: right;
    margin-right: 50px;
    margin-top: 200px;
}

.fotki {
    width: 210px;
    border-radius: 30px;
}

.cards {
    margin-top: 250px;
    text-align: center;
    display: flex;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: italic;
    padding-left: 200px;
}

.card1 {
    margin-right: 80px;
}

.card2 {
    margin-right: 10px;
}

.container-photo {
    display: flex;
    padding-left: 200px;
    padding-top: 60px;
}

footer {
    margin-top: 100px;
    margin-left: -10px;
    padding-top: 30px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.9);

}

p.copyright {
    color: #595959;
    margin-left: 15px;
    text-align: center;
}

footer a {
    float: left;
    color: #5e5e5e;
    text-decoration: none;
    font-size: 17px;
}

footer a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #0082e6;
    text-decoration: none;
}
